target
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings
.DS_Store
.vscode
/modules/**/bin
node_modules
flowable-vis-components/typings
flowable-vis-components/build
whitesource-files
.gradle
data
.factorypath
